//extend
.label-gral{
  padding: 10px;
  margin:5px;
  }

.container { 
    display: flex;
    align-items: row;    

form{
    padding: 10px 20px;
    text-align:$mainPosition;
    color:$secundary;
    background:$mainColor ;    

  .name{
    @extend label-gral;
    position: left;
  } 
  .tel{ 
   label-gral
  }
  .email{
    label-gral
  } 
  textarea{
    margin-top: 30px;
    padding: 70px;
    }   
  }

}


@media (max-width:600px) {
    .container{
    flex-direction: column ;
  }
}

.map{
    width: 100%;
    align-items: $mainPosition;
   
  }