//mixins
@mixin texto ($size,$b-g,$color){
  font-size:$size;
  background-color:$b-g;
  color:$color;
}

.intro{
  @include texto($mainSize,$secundary,$textColor);
    width: 100%;
    text-align:$mainPosition ;    
    margin-top: 0;
    padding: 10px;       
  }