
 .logo{
    padding: 10px 10px;  
    background: $textColor;
  }

nav{
 position: sticky;
 background-color: $secundary;
 font-size: $mainSize;
 padding: 10px 20px;  
 ul{     
    padding: 10px 20px; 
 li{
    list-style: none;
    display:inline-block;     
    a{
     padding: 10px 20px;
     text-decoration: none;
     color:$textColor ;
    }
  }
 }:hover{
    color: $hover;
 }
 }

